.portfolio-button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-button a {
  display: flex;
  justify-content: center;
  align-items: center;


  background-color: #000000;
  border: 2px solid #fd008a;
  border-radius: 10px;

  min-width: 550px;
  min-height: 40px;
  
  color: #fd008a;
  font-size: 200%;
  /* letter-spacing: 5px; */
  text-align: center;
  /* font-family: 'Shadows Into Light Two', cursive; */
  font-family: 'Press Start 2P', cursive;
}

.portfolio-button a:hover {
  border: 2px solid #3ae4ee;
  transition: ease-in 0.2s;
  color: #3ae4ee;
}