.btn-container {
  background-color: #050318;
  min-height: 200px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  width: 200px;
  /* font-size: 1.4em; */
  font-weight: 800;
  margin: 0px 15px 0px 15px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

.btn-1 {
  background-color: #3498db;
}

.btn-2 {
  background-color: #2ecc71;
}

.btn-3 {
  background-color: #e74c3c;
}


/* Button: Retro Wave */

.btn-rw {
  border: none;
  border-radius: 0px;
  background-color: #fd008a;
  display: inline-block;
  filter: drop-shadow(8px 4px 2px #3ae4ee);
  
}

/* Button: Retro Wave gradient */
.btn-rwg-container {
  display: inline-block;
  filter: drop-shadow(8px 4px 2px #3ae4ee);
  
}

.btn-rwg {
  display: inline-block;
  background-image: linear-gradient(to right, #FD008A 0%, #050318 51%, #FD008A 100%);
}

.btn-rwg:hover {
  background-position: right center; 
}


/* Z style */

.btn-rwz-container {
  display: inline-block;
  filter: drop-shadow(10px 6px 1px #3ae4ee);
}

.btn-rwz-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-rwz {
  clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
}

#btn-rwz-2 {
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}