body {
  background-color: black;
}

.nav {
  position: fixed;
  /* background-color: blueviolet; */
  bottom: 0;
  left: 0;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  background: url(../images/backgrounds/2retro-4237850.jpg);
  background-size: 100% 100%;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
}

.nav-buttons {
  opacity: 0;
  grid-row: 1/3;
  grid-column: 1/3;

  /* background: url(../images/backgrounds/2synthwave-3941721.jpg); */
  background: url(../images/backgrounds/2retro-4237850.jpg);
  background-size: 100% 100%;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);

  z-index: 2;
}

.nav-buttons:hover {
  opacity: 100;
}

/* .nav-buttons .button {
  margin: 0;
} */

.nav-menu-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/3;
  grid-column: 1/3;

  z-index: 1;
}

.nav-menu-gif img {
  width: 80%;
  transform: rotate(-10deg);
}

.nav-buttons .button a {
  min-width: 300px
}

/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .nav {
    width: 100%;
  }

  .nav-menu-gif {
    width: 25%;
    grid-column: 1/3;
  }

  .nav-menu-gif img {
    transform: rotate(0);
  }

  .nav-buttons {
    grid-column: 1/3;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; */
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .nav-menu-gif {
    height: 50px;
    max-height: 50px;
    min-width: 100%;

    padding: 10px 0;
    margin: auto 0 0 0;

    background: url(../images/backgrounds/2retro-4237850.jpg);
    background-size: 100% 100%;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);

    border-top: 2px solid #3ae4ee;
  }

  .nav-menu-gif img {
    margin: auto 0 auto 0;
    max-width: 100px;
  }

  /* MOBILE NAVIGATION */
  .nav-mobile {
    display: unset !important;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
  } 

  .dropdown-content {
    text-align: center;
    display: none;
    position: fixed;

    bottom: 0px;
    left: 0;
    width: 100%;
    min-width: 160px;

    background: url(../images/backgrounds/2retro-4237850.jpg);
    background-size: 100% 100%;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    
    
    padding: 12px 0px 60px 0px;
    
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    font-size: unset;
  }

  .nav-buttons {
    opacity: 100;
    background: none;
  }

}