/* CONTAINER */

.profile-card {
  width: 100%;

  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

}

/* PROFILE IMAGE */

.profile-image-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/3;

  border-right: 2px solid #3ae4ee;
}

.profile-image-container img {
  display: inline-block;
  
  max-width: 220px;
  max-height: 220px;
  margin-right: 20px;

  border-radius: 50%;
  /* border: 2px solid #fd008a; */

  box-shadow: 3px 3px 3px #3ae4ee;
}

.pro-image2 {
  box-shadow: 3px 3px 3px #fd008a !important;
}


/* ICONS */

.profile-icon-container {
  width: 100%;
  grid-row: 1/2;
}

.profile-icon-container img {
  max-width: 50px;
  display: inline-block;
  margin-right: 20px;
}

.icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ruby-logo {
  min-width: 35px;
}

.ruby-or-logo {
  min-width: 140px;
}


/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .profile-card-container {
    max-width: 768px;
  }

  .profile-card {
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-columns: 1fr;
  }

  .profile-image-container {
    grid-row: 1/2;
    margin-bottom: 50px;
    border: none;
    max-width: 768px;
  }

  .profile-icon-container {
    grid-row: 2/3;
  }

  .profile-button-container {
    grid-row: 3/4;
  }

  .profile-button-container .button {
    margin: 30px 0;
  }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .profile-card-container {
    max-width: 320px;
    margin-top: 0 !important;
  }

  .profile-card {
    display: grid;
    grid-template-rows: 0.7fr 0.7fr 0.7fr;
    grid-template-columns: 1fr;
  }

  .profile-image-container {
    grid-row: 1/2;
    margin-bottom: 50px;
    border: none;
    /* max-width: 320px; */
  }

  .profile-image-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-right: none;
    margin-bottom: 0;
  }

  .profile-image-container img {
    display: inline-block;
    
    max-width: 80px;
    max-height: 80px;
    margin: 0 10px;

    border-radius: 50%;
    /* border: 2px solid #fd008a; */

    box-shadow: 3px 3px 3px #3ae4ee;
  }

  .profile-icon-container {
    grid-row: 2/3;
    max-width: 320px;
    align-self: center;
    justify-self: center;
  }

  .icon-section {
    flex-wrap: wrap;
  }

  .profile-button-container {
    grid-row: 3/4;
  }

  .profile-button-container .button {
    margin: 30px 0;
  }

  .profile-button-container .button a{
    min-width: 200px;
    font-size: 100% !important;
  }

}