@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #373737;
}

body {
  background-color: black;
}

.resume-container {
  background-color: #f8f8ff;

  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 0.25fr 1.75fr;

  width: 793px;
  height: 1122px;

  /* margin: 40px auto 40px auto; */
  padding: 40px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body,
blockquote,
code,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
  padding: 0;
}

/* ---------- Global code ----------  */

.section-header {
  padding-bottom: 10px;
  margin-bottom: 20px;

  font-size: 150%;
  border-bottom: 2px solid black;
}

.subsequent-page {
  padding-top: 20px;
}

.bold-text {
  font-weight: bold;
}

.justify-text {
  text-align: justify;
  text-justify: distribute;
}

.no-opacity {
  opacity: 0;
}

i {
  font-size: 200%;
  justify-self: center;
}

/* ---------- Hero Section ---------- */
.hero-container {
  grid-column: 1/3;
  grid-row: 1/2;

  /* background-color: aquamarine; */

  width: 100%;

  display: grid;
  grid-template-columns: 0.45fr 1fr;
  grid-template-rows: 1fr 0.7fr;
}
.hero-image-container {
  grid-row: 1/3;

  padding-top: 20px;
  padding-bottom: 20px;

  width: 100%;
  text-align: center;
}
.hero-image {
  width: 150px;
  border-radius: 50%;
}

.hero-text {
  width: 100%;
}

.hero-text-main {
  align-self: end;

  font-size: 350%;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.hero-text-sub {
  font-size: 150%;
}

/* ---------- Left Side ---------- */
.left-side-container {
  /* background-color: burlywood; */

  display: grid;
  grid-auto-rows: max-content;

  height: 100%;
}

.contact-container .header-container,
.tech-stack-container .header-container,
.interests-container .header-container {
  grid-row: 1/2;
  grid-column: 1/3;
}

.tech-stack-container .content-container div i,
.interests-container .content-container div i,
.contact-container .icons-container i {
  width: 32px;
  text-align: center;
}

/* |>--- Contact ----- */

.contact-container {
  /* background-color: crimson; */

  display: grid;
  /* grid-template-columns: 0.4fr 1.6fr; */
  /* grid-template-rows: 0.25fr 1.75fr; */

  /* width: 100%; */
  /* height: 100%; */

  padding: 10px;
}

.contact-container .icons-container {
  grid-row: 2/3;
  grid-column: 1/2;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  justify-items: center;
}

/* .contact-container .icons-container i {
  width: 32px;
} */

.contact-container .text-container {
  grid-row: 2/3;
  grid-column: 2/3;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  /* padding-left: 10px; */
  /* margin-left: -5px; */
}

.contact-text {
  margin-left: 6px;
}

/* |>--- Tech Stack ----- */

.tech-stack-container {
  /* background-color: forestgreen; */

  padding: 10px;

  display: grid;
  /* grid-template-columns: 0.4fr 1.6fr; */
  /* grid-template-rows: 0.25fr 1.75fr; */
}

.tech-stack-container .content-container {
  display: grid;

  grid-template-rows: repeat(11, 1fr);
}

.tech-stack-container .content-container div {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  /* padding-left: 10px; */
  margin-bottom: 10px;
}

.tech-stack-container .content-container .title {
  grid-template-columns: 1fr;
  padding: 0;
  align-self: center;
}

/* .tech-stack-container .content-container div i {
  font-size: 200%;
  justify-self: center;
} */

.tech-stack-container .content-container div h3 {
  align-self: center;
  margin-left: 3px;
}

.tech-stack-container .content-container .title h3 {
  margin-left: 0;
  align-self: auto;
}

/* |>--- Interests ----- */

.interests-container {
  /* background-color: orangered; */

  padding: 10px;

  display: grid;
  /* grid-template-rows: 0.25fr 1.75fr; */
}

.interests-container .content-container {
  display: grid;

  grid-template-rows: repeat(2, 1fr);
}

.interests-container .content-container div {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  /* padding-left: 10px; */
  margin-bottom: 10px;
}

.interests-container .content-container div h3 {
  align-self: center;
  margin-left: 6px;
}

.interests-container .content-container div .fa-clone {
  transform: scale(0.8, 1);
}

/* ---------- Right Side ---------- */
.right-side-container {
  /* background-color: rgb(195, 135, 222); */

  display: grid;
  grid-auto-rows: max-content;

  height: 100%;
}

.objective-container,
.experience-container {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
/* |>--- Objective ----- */

.objective-container {
  /* background-color: orange; */
}

/* |>--- Experience ----- */

.experience-container {
  /* background-color: violet; */
}

.experience-text-entry {
  margin-top: 10px;
}

.experience-text-entry:nth-child(-n + 2) {
  border-bottom: 1px dotted black;
  padding-bottom: 10px;
}

.references-text {
  margin-top: 40px;
  text-align: end;
}

/* ---------- icon styles ---------- */

.fa-html5 {
  color: orange;
}

.fa-css3-alt {
  color: cornflowerblue;
}

.fa-js {
  color: yellow;
  background-color: black;
}

.fa-react {
  color: cornflowerblue;
}

.fa-node-js {
  color: darkgreen;
}

.fa-gem {
  color: crimson;
}
