@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
  color: #373737;
}

body {
  background-color: black;
}

.resume-container {
  width: 793px;
  height: 1122px;
  background-color: #f8f8ff;
  margin: 0 auto 40px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ---------- left side ----------  */

.left-side {
  display: grid;
  justify-items: center;
  grid-template-rows: auto auto auto auto;
}

.hero-card {
  text-align: center;
  display: grid;
  margin-bottom: 50px;
}

.hero-title {
  font-size: 45px;
  font-weight: 800;
  text-align: center;
}

.hero-text {
  width: 60%;
  margin: 0 auto;
}

.hero-text,
.hero-title {
  margin-bottom: 15px;
}

.hero-picture {
  max-width: 250px;
  border-radius: 100%;
  align-self: center;
  justify-self: center;
}

.contact-container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
}

.contact-child-container ul {
  margin-top: -10px;
}

.contact-container a {
  text-decoration: none;
}

.left-card {
  width: 80%;
}

/* ---------- right side ----------  */

.right-side {
  display: grid;
  justify-items: center;
  grid-template-rows: auto auto auto auto;
  margin-top: 42px;
}

.right-card {
  width: 80%;
}

/* ---------- full side / card ---------- */

.full-card {
  grid-column: 1/3;
  display: grid;
  justify-items: center;
  text-align: left;
  grid-template-rows: auto 1fr 1fr;
}

.full-card .content-title,
.full-card-content {
  width: 90%;
}

/* ---------- Both sides global code ----------  */

.content-title {
  border-bottom: 1px solid black;
  max-height: 40px;
  min-width: 80%;
}

.content-list {
  list-style: none;
  text-align: left;
  padding-left: 10px;
  width: 80%;
}

.content-list-unindent {
  padding: 0;
}

.content-list li {
  margin: 10px 0;
}

.references-container {
  text-align: center;
  grid-column: 1 / 3;
  border-top: 1px solid black;
  min-width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}

.justified {
  text-align: justify;
  line-height: 1.5em;
}

.full-width {
  width: 100%;
}

.subsequent-page {
  padding-top: 20px;
}

/* ---------- icon styles ---------- */

.fa-html5 {
  color: orange;
}

.fa-css3-alt {
  color: cornflowerblue;
}

.fa-js {
  color: yellow;
  background-color: black;
}

.fa-react {
  color: cornflowerblue;
}

.fa-node-js {
  color: darkgreen;
}
